[blame]
  coloring = highlightRecent
[credential]
  helper = {{ git.credential }}
[color]
  ui = true
[commit]
  gpgsign = true
[core]
  autocrlf = input
  editor = nvim
  filemode = false
  ignorecase = false
  pager = delta
[delta]
  navigate = true
  syntax-theme = Nord
  side-by-side = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = {{ "~/.ssh/personal.pub" if isPersonal else "~/.ssh/work.pub" }}
[help]
  autocorrect = 1
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = zdiff3
[pager]
  blame = delta
[push]
  autoSetupRemote = true
[user]
  name = "Yihuang Yu"
  email = "{{ user.email.personal if isPersonal else user.email.work }}"
  signingkey = {{ "~/.ssh/personal.pub" if isPersonal else "~/.ssh/work.pub" }}
