{% if system.os == "darwin" -%}
# Initialize homebrew environment
eval "$(/opt/homebrew/bin/brew shellenv)"

{% endif -%}

# Editors
export EDITOR="nvim"
export VISUAL="${EDITOR}"
export GIT_EDITOR="${EDITOR}"

# History / App configs
export BITWARDENCLI_APPDATA_DIR="${XDG_CONFIG_HOME}/bitwarden"
export CLAUDE_CONFIG_DIR="${XDG_CONFIG_HOME}/claude"
export INPUTRC="${XDG_CONFIG_HOME}/readline/inputrc"
export LESSHISTFILE=-
export PODMAN_COMPOSE_WARNING_LOGS=false
export PYTHON_HISTORY="${XDG_STATE_HOME}/python/history"
export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME}/ripgrep/config"
export RUFF_CACHE_DIR="${XDG_CACHE_HOME}/ruff"
export TART_HOME="${XDG_DATA_HOME}/tart"
export TEALDEER_CONFIG_DIR="${XDG_CONFIG_HOME}/tealdeer"

# Rust
export CARGO_HOME="${XDG_DATA_HOME}/cargo"
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
path+=("${CARGO_HOME}/bin")

# Go
export GOPATH="${XDG_DATA_HOME}/go"
export GOMODCACHE="${XDG_CACHE_HOME}/go/mod"
path+=("${GOPATH}/bin")

# Mise
export MISE_CARGO_HOME="${XDG_DATA_HOME}/cargo"
export MISE_RUSTUP_HOME="$XDG_DATA_HOME/rustup"

# Npm
export NPM_CONFIG_USERCONFIG="${XDG_CONFIG_HOME}/npm/npmrc"
path+=("${XDG_DATA_HOME}/npm/bin")

# SSH agent
{% if system.os == "darwin" %}
export SSH_AUTH_SOCK="${TMPDIR%/}/rbw-$(id -u)/ssh-agent-socket"
{% elif system.os == "linux" %}
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/rbw/ssh-agent-socket"
{% endif %}

# User executables
path+=("${XDG_BIN_HOME}")
