{% set config = "starship.toml" %}
{% if os() == "linux" %}
{% set config = "pure.toml" %}
{% endif %}
export STARSHIP_CONFIG=~/.config/starship/{{ config }}
{% if os() == "darwin" %}

if [[ "$TERM_PROGRAM" == "zed" ]]; then
  export STARSHIP_CONFIG=~/.config/starship/pure.toml
fi
{% endif %}

eval "$(starship init zsh)"

# Vivid nord theme for ls colors
(( $+commands[vivid] )) && export LS_COLORS="$(vivid generate nord)"
